<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %>. Simple API for posting captions under photos with user authentication (JWT) and caching</p>
    <p>To test API via Swagger, please visit <a href="/docs">/docs</a></p>
  </body>
</html>
